
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<form name="" action="/LLL/user" method="post">
    <table align="left">
        <tr>
            <td>
                用户名<input type="text" name="name" />
            </td>
            <td>
                密码<input type="password" name="password"/>
            </td>

            <td>
                <input type="submit" name="tijiao" value="登录"/>
            </td>

        </tr>

    </table>

</form>
<form action="/front/register" method="post">
    <input type="submit" name="zhuce" value="注册">
</form>

</body>
</html>
